@import '@/styles/import.scss';

.list-content {
  padding: 30px 0;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $color-white-aplha-10;
  padding: 10px;
  > input[type='radio'] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 3px solid white;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    background-color: gray;
    box-shadow: 0 0 0 1px gray;
  }
  > input[type='radio']:checked {
    background-color: #f96d69;
    box-shadow: 0 0 0 1px #f96d69;
  }
}

.list-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 167px;
  height: 70px;

  > h1 {
    color: #f96d69;
  }
}

.idol-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: solid 1px #f96d69;
  padding: 5px;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 66px;
  height: 38px;
  white-space: nowrap;

  > h1 {
    color: white;
  }
  > h2 {
    color: gray;
  }
}
