@import '@/styles/import.scss';

.modal-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 339px;
  height: 331px;
  background-color: #181d26;
  border-radius: 12px;

  > .header {
    text-align: right;
    padding: 15px 20px 0px;

    > button {
      background: none;
      border: none;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  > .main {
    display: flex;
    flex-direction: column;

    > img {
      width: 150px;
      height: 150px;
      margin: 0 auto;
    }

    > span {
      font: 500 16px/26px Pretendard;
      text-align: center;
      color: #ffffff;
      margin: 0px 0px 31px;

      > .strong {
        color: #f96d69;
      }
    }
  }

  > .footer {
    display: flex;
    justify-content: center;
    > button {
      cursor: pointer;
      width: 295px;
      height: 45px;
      margin: 0 auto;
      border-radius: 3px;
      background: linear-gradient(90deg, #f86f65, #fe5493);
      font: 700 14px/26px Pretendard;
      color: #ffffff;

      &:hover {
        background: linear-gradient(270deg, #f86f65, #fe5493);
      }
    }
  }
}
