@import '@/styles/import.scss';

.donation-list {
  background-color: #02000e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.donnation-contents {
  display: flex;
  // overflow: scroll;
  // width: 100%;

  flex-direction: column;
  gap: 32px;
}
.components-wrapper {
  width: 100%;
  display: flex;
  // overflow: scroll;
  gap: 24px;
}
.components-container::-webkit-scrollbar {
  display: none;
}
.components-container {
  max-width: 878px;
  overflow: scroll;
  display: flex;
  padding-top: 50px;
  gap: 40px;
  align-items: center;
}

.list-title {
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 700;
  color: #f7f7f8;
  margin-bottom: 32px;
}

@media (max-width: $width-max-mobile) {
  .list-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .components-container {
    width: 100%;
  }
}
