@import '@/styles/import.scss';

.donation-list {
  background-color: #02000e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

}
.donnation-contents {
  display: flex;


  flex-direction: column;
  gap: 32px;
}
.components-wrapper {
  width: 100%;
  display: flex;
  gap: 24px;
}
.components-container::-webkit-scrollbar {
  display: none;
}
.components-container {
  overflow: scroll;
  display: flex;
  gap: 40px;
  align-items: center;
}

.list-title {
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 700;
  color: #f7f7f8;
  margin-top: 64px;
  margin-bottom: 24px;
  text-align: left;
}

@media (max-width: $width-max-mobile) {
  .list-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .components-container {
    width: 100%;
  }
}
