@import '@/styles/import.scss';

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 327px;
  height: 509px;
  border-radius: 8px;
  background-color: #181d26;
  padding: 24px 19px 32px;
  box-shadow: 0px 4px 4px $color-white-aplha-10;
  animation: fadeIn 0.3s ease-in-out;

  > .header {
    @include Flex(row, space-between, stretch, 0);
    margin-bottom: 24px;

    > h2 {
      font: 600 18px/21.48px Pretendard;
      color: $color-white;
    }

    > button {
      background: none;
      border: none;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  > .main {
    > .card {
      @include Flex(column, flex-start, center, 0);

      > img {
        margin: 0 auto;
        border-radius: 8px;
        width: 158px;
        height: 206px;
        object-fit: cover;
      }

      > .text-wrapper {
        width: 154px;
        height: 41px;
        margin: 5px 0px 25px;
      }

      > .text-wrapper > span {
        font: 400 12px/18px Pretendard;
        color: $color-white-aplha-40;
      }

      > .text-wrapper > p {
        font: 500 14px/16.71px Pretendard;
        color: $color-white;
        margin-top: 6px;
      }
    }

    > .input-wrapper {
      position: relative;

      > input {
        width: 290px;
        height: 58px;
        border-radius: 8px;
        border: 1px solid $color-white;
        background-color: #272f3d;
        font: 700 20px/26px Pretendard;
        color: $color-white;
        padding: 16px;
      }

      > input:focus {
        outline: none;
      }

      > input::-webkit-outer-spin-button,
      > input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      > .input-error {
        border: 1px solid #ff3b3b;
      }

      > img {
        position: absolute;
        width: 32px;
        height: 38px;
        right: 10px;
        top: 10px;
      }
    }

    > .error-message {
      position: absolute;
      top: 410px;
      font: 500 12px/14.32px Pretendard;
      color: #ff2626;
    }
  }
}

.footer {
  @include Flex(row, center, center, 0);
  margin-top: 35px;

  > button {
    cursor: pointer;
    width: 295px;
    height: 42px;
    border-radius: 3px;
    background: $gradient-orange-to-pink;
    font: 700 14px/26px Pretendard;
    color: $color-white;

    &:hover {
      background: $gradient-orange-to-pink-reverse;
    }
  }

  > .button--disabled {
    background: #828282;
    pointer-events: none;
    cursor: default;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      margin-top: -40px;
    }
    to {
      opacity: 1;
    }
  }
}
