@import 'src/styles/import.scss';

// .selcet-idol {
//   width: 1314px;
// }
.seltct-idol-title {
  width: 314px;
  height: 26px;
  font-family: 'Pretendard';
  font-size: 24px;
  font-weight: 700px;
  line-height: 26px;
  color: #f6f6f8;
  margin: 40px 0px 0px 41px;
}

.selct-idol-wrapper {
  // width: 1314px;
  display: flex;
  align-items: center;
}

.arrow-btn {
  border: none;
  background: none;
}

.arrow-img {
  width: 40px;
  height: 100%;
}

.idol-list-container {
  width: 1190px;
  height: 400px;
  padding: 0 4px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(8, 1fr);
  gap: 31px 22px;
  align-items: center;
  margin-top: 32px;
  overflow-x: scroll;
  overflow-y: hidden;
  grid-auto-flow: column;
}

.add-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px;
}

.plus-text {
  position: absolute;
  padding: 79px;
  font-size: 24px;
}

.add-btn-text {
  border-radius: 25px;
  width: 255px;
  height: 48px;
  background: $tj-gradient-orange-to-pink;
  font-size: 16px;
  color: $tj-color-white;
}
