$color-white: #f7f7f8;
$color-orange: #f96d69;
$color-white-aplha-10: rgba(255, 255, 255, 0.1);
$color-white-aplha-40: rgba(255, 255, 255, 0.4);
$color-white-aplha-60: rgba(255, 255, 255, 0.6);
$color-white-aplha-80: rgba(255, 255, 255, 0.8);
$color-gray-500: #828282;

$gradient-orange-to-pink: linear-gradient(
  90deg,
  rgba(248, 111, 101, 1) 0%,
  rgba(254, 84, 147, 1) 100%
);

$gradient-orange-to-pink-reverse: linear-gradient(
  270deg,
  rgba(248, 111, 101, 1) 0%,
  rgba(254, 84, 147, 1) 100%
);
