$default-font-family: 'Pretendard', sans-serif;

@mixin font-default {
  font-family: $default-font-family;
  font-style: normal;
}

@mixin Flex($col, $justifyContent, $alignItems, $gap) {
  display: flex;
  flex-direction: $col;
  justify-content: $justifyContent;
  align-items:$alignItems;
  gap: $gap;
}