@import '../../styles/import.scss';

.mypage {
  background-color: $color-black;

  // width: 1200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // align-items: center;
  @include font-default;
  gap: 10px;
  margin: 0 auto;
}

.mypage-wrapper {
  // width: 1400px;
  // margin: 0 auto;
}

/* Tablet */
@media (max-width: $width-max-tablet) {
}

/* Mobile */
@media (max-width: $width-max-mobile) {
}
