@import '../../styles/import.scss';

.mypage {
  background-color: #02000e;

  width: 1314px;
  max-height: 1080px;
  display: flex;
  flex-direction: column;
  @include font-default;
  gap: 10px;
  margin: 0 auto;
}


/* Tablet */
@media (max-width: $width-max-tablet) {
  .mypage {
    max-width: 768px;
    // padding: 0px 24px;
    margin: 0 auto;
  }
}

/* Mobile */
@media (max-width: $width-max-mobile) {
  .mypage {
    max-width: 328px;
    // margin: 0 auto;
  }
}