@import '@/styles/import.scss';

.chart-list-item {
  color: $color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  font-family: 'Pretendard';
  font-size: 14px;
  z-index: -1;

  &:not(:nth-last-child(-n + 2):nth-last-child(n + 1)) {
    border-bottom: 1px solid $color-white-aplha-10;
  }
}

.list-container {
  display: grid;
  grid-template:
    repeat(5, 1fr) /
    repeat(2, 1fr);
  gap: 0 24px;
}

.middle-item {
  // border-bottom: 1px solid $color-white-aplha-10;
}

.info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.rank {
  color: $color-orange;
}

.name {
  font-weight: 500;
}

.vote {
  color: $color-white-aplha-60;
}

/* Tablet */
@media (max-width: $width-max-tablet) {
  .list-container {
    grid-template:
      repeat(5, 1fr) /
      repeat(1, 1fr);
  }

  .chart-list-item {
    &:not(:last-child) {
      border-bottom: 1px solid $color-white-aplha-10;
    }
  }
}

/* Mobile */
@media (max-width: $width-max-mobile) {
}
