@import 'src/styles/import.scss';

.favorite-idol-title {
  margin: 76px 0px 0px 41px;

  h3 {
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    color: #f6f6f8;
  }
}

.favorite-card-container {
  width: 1200px;
  height: 200px;
  padding: 0 4px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  margin: 32px auto;
  gap: 24px;
}

.favorite-add-info {
  height: 172px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 auto;
  gap: 10px;
  margin: 0px auto;
}

.favorite-add-info > h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: $color-white;
}

.bottom-line {
  border-bottom: 1px solid $color-white;
  max-width: 90%;
  margin-inline: auto;
  margin-block: 40px;
  opacity: 0.3;
}
