@import 'src/styles/import.scss';



.favorite-add-info {
  min-height: 144px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 auto;
  gap: 10px;
}

.favorite-add-info > h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: $tj-color-white;
}

.bottom-line {
  border-bottom: 1px solid $tj-color-white ;
  max-width:  90%;
  margin-inline: auto;
  margin-block: 50px;
  opacity: .1;
}